<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Test Instructions</title>
        <link rel="stylesheet" href="instructions.css">
    </head>
    <body>
		<div class='Header'>
			<nav>  <div class="menu1"><h1 style="color: white;">EXAMSPOINT</h1></div>
			</nav>    
		</div>
		<div class="testinst">
			<div class="organizer">
				<b><h1><u>Subject/Course</u></h1></b>
				&nbsp;&nbsp;<h3><%=testdetails.subject%></h3>
				<br><br>
				<b><h1><u>Topic</u></h1></b>
				&nbsp;&nbsp;<h3><%=testdetails.topic%></h3>
				<div class="details">
					<div class="duration">
						<h4>DURATION: </h4>
						<span><%=testdetails.duration%> min</span>
					</div>
				</div>
			</div>
			<div class="instructions">
					<div class="gen_instructions">
						<h1>Instructions</h1>
						<br>
						<ul>
							<li>Please make sure you Enter full screen mode before attempting the test otherwise you won't be able to see the questions</li>
							<li>This is a timed test. Please make sure you are not interrupted during the test, as the timer cannot be paused once started.</li>
							<li>Please ensure you have a stable internet connection.</li>
							<li>All questions are compulsory.</li>
							<li>The test window is from <b><%=testdetails.startdate%></b> to <b><%=testdetails.enddate%></b> , please make sure you log in during this period</li>
						</ul>
					</div>
					<div class="proctoring">
						<b>NOTE : </b><span>Proctoring required for this Test</span>
						<ul>
							<li>This Test requires access to the fully functional webcamera.</li>
							<li>Make sure that your face is visible within the webcamera frame.</li>
							<li>Make sure to sit in a well lit room.</li>
						</ul>
					</div>
					<div class="continuebtn">
						<a href="/test/<%=testdetails._id%>" id="continue">Continue</a>
					</div>
			</div>
		</div>	
        <script>
        </script>
    </body>
</html>